<section
  class="justify-left flex h-dvh flex-col items-center px-4 py-20 text-center text-sm sm:text-base md:flex-row md:px-10 md:text-lg"
>
  <div
    class="flex w-full flex-col gap-6 rounded-lg bg-white text-center md:w-1/2 md:text-left"
  >
    <h2
      class="text-5xl leading-tight font-bold uppercase md:text-[6rem] lg:text-[8rem]"
    >
      Get in
      <span
        class="inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-transparent"
        >Touch</span
      >
    </h2>
    <p class="text-sm text-orange-500 sm:text-base md:text-lg">
      some@gmail.com
    </p>
  </div>

  <div
    class="flex w-full flex-col items-center gap-6 rounded-lg bg-white text-sm sm:text-base md:w-1/2 md:text-lg"
  >
    <div class="flex w-full flex-col gap-4 text-left md:flex-row">
      <div
        class="flex items-center border-b border-black py-2 text-left focus-within:border-red-500"
      >
        <input
          class="w-full appearance-none border-none bg-transparent p-4 leading-tight text-gray-700 focus:outline-none"
          type="text"
          placeholder="Full name *"
          aria-label="Full name"
          required
        />
      </div>
      <div
        class="flex items-center border-b border-black py-2 text-left focus-within:border-red-500"
      >
        <input
          class="w-full appearance-none border-none bg-transparent p-4 leading-tight text-gray-700 focus:outline-none"
          type="text"
          placeholder="Email *"
          aria-label="Email"
          required
        />
      </div>
    </div>

    <div
      class="flex w-full flex-col gap-2 border-b border-black py-2 text-left focus-within:border-red-500"
    >
      <textarea
        id="message"
        name="message"
        rows="3"
        class="w-full appearance-none border-none bg-transparent p-4 leading-tight text-gray-700 focus:outline-none"
        placeholder="Message *"
        aria-label="Message"
        required></textarea>
    </div>

    <button
      type="submit"
      class="flex w-min items-center rounded-full bg-gradient-to-t from-amber-400 to-red-600 px-6 py-3 text-sm text-white transition hover:scale-110 sm:text-base md:text-lg"
    >
      Submit
      <span class="ml-2"><i class="fa-solid fa-arrow-right"></i></span>
    </button>
  </div>
</section>
