<header
  class="flex h-auto flex-col gap-8 bg-black px-10 py-20 text-center text-white md:text-left"
>
  <h1 class="text-4xl font-bold uppercase sm:text-5xl md:text-6xl lg:text-7xl">
    <span
      class="inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-transparent"
      >Code.</span
    > Innovate. Elevate.
  </h1>
  <p class="mt-2 max-w-xl text-sm sm:text-base md:text-lg lg:text-xl">
    Empowering businesses with advanced data science, web development, and AI
    integration.
  </p>
</header>
