<section
  id="partners"
  class="text-center h-auto flex flex-col items-center justify-center p-4"
>
  <h2 class="font-bold text-gray-800 uppercase">
    Our
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Partners
    </span>
  </h2>
  <ul class="flex flex-wrap justify-center gap-6 text-gray-700">
    <li>
      <img
        src="https://picsum.photos/200"
        alt=""
        class="p-2 bg-white shadow rounded-full"
      />
    </li>
    <li>
      <img
        src="https://picsum.photos/200"
        alt=""
        class="p-2 bg-white shadow rounded-full"
      />
    </li>
    <li>
      <img
        src="https://picsum.photos/200"
        alt=""
        class="p-2 bg-white shadow rounded-full"
      />
    </li>
  </ul>
</section>
