<section
  id="about"
  class="h-auto flex flex-col items-center justify-center text-center bg-black p-4 prose w-full max-w-full prose-red"
>
  <h1 class="font-bold uppercase">
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >About</span
    > Us
  </h1>
  <p class="max-w-xl">
    At Camino Code, we specialize in delivering advanced data science and web
    development solutions. Our goal is to empower businesses with innovative,
    scalable, and intelligent platforms that drive growth and efficiency.
  </p>
</section>
