<section
  id="case-studies"
  class="text-center h-auto flex flex-col items-center justify-center bg-black text-white p-4"
>
  <h2 class="font-bold uppercase">
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Case</span
    > Studies
  </h2>
  <p class="max-w-2xl">
    At <strong>Camino Code</strong>, we take pride in delivering high-quality,
    innovative solutions in <strong>data science</strong> and
    <strong>web development</strong>. Our portfolio showcases a range of
    successful projects, from <strong>custom web applications</strong>
    to <strong>data-driven platforms</strong> that enhance business efficiency and
    performance.
  </p>
</section>
