<div
  id="contactusform"
  class="text-center h-auto flex flex-col items-center justify-center p-4"
>
  <h3 class="font-bold">Get in Touch</h3>
  <a href="mailto:some@gmail.com" class="text-blue-600 hover:underline"
    >some@gmail.com</a
  >

  <form action="#" method="post" class="flex flex-col w-80">
    <label for="name" class="text-left text-sm font-medium">Full Name *</label>
    <input
      type="text"
      id="name"
      name="name"
      required
      class="form-input rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <label for="email" class="text-left text-sm font-medium">Email *</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      class="form-input rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <label for="message" class="text-left text-sm font-medium">Message</label>
    <textarea
      id="message"
      name="message"
      rows="4"
      class="p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    ></textarea>

    <button
      type="submit"
      class="mt-2 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-200"
    >
      Submit
    </button>
  </form>
</div>
