<section
  id="testimonials"
  class="text-center h-auto flex flex-col items-center justify-center bg-black text-white p-4"
>
  <h2 class="font-bold uppercase">
    What Our <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Clients Say</span
    >
  </h2>
  <blockquote class="max-w-xl italic">
    <p class="">
      "Camino Code transformed our data strategy, giving us valuable insights
      that boosted efficiency and decision-making."
    </p>
    <cite class="not-italic font-medium">
      - Alex Johnson, CEO of TechWave
    </cite>
  </blockquote>
</section>
