<section
  id="work"
  class="h-auto flex flex-col items-center justify-center text-center p-4"
>
  <h2 class="font-bold uppercase">
    Our <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Work</span
    >
  </h2>
  <p class="max-w-2xl text-gray-700">
    We take pride in delivering innovative and impactful solutions for our
    clients. Our work reflects our expertise in data science, web development,
    and AI integration, helping businesses achieve measurable success.
  </p>
  <div class="flex flex-wrap justify-center gap-6 max-w-4xl">
    <a
      href="/case study detailed"
      rel="noopener noreferrer"
      class="flex flex-col items-center transition w-1/3 rounded-lg shadow-lg"
    >
      <img src="https://picsum.photos/200" alt="" />
      <span class="font-medium">Data-Driven Insights for TechWave</span>
      <span class="text-base text-gray-600">
        Developed a predictive analytics model that increased customer retention
        by 30%.
      </span>
    </a>
    <a
      href="/case study detailed"
      rel="noopener noreferrer"
      class="flex flex-col items-center transition w-1/3 rounded-lg shadow-lg"
    >
      <img src="https://picsum.photos/200" alt="" />
      <span class="font-medium">Data-Driven Insights for TechWave</span>
      <span class="text-base text-gray-600">
        Developed a predictive analytics model that increased customer retention
        by 30%.
      </span>
    </a>
  </div>
</section>
