@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: 1px solid red !important;
}

.main-head.slidedown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  animation: slidedown 0.4s forwards;
  z-index: 50;
}

.main-head.slideup {
  position: fixed;
  top: -250px;
  left: 0;
  width: 100%;
  background: #fff;
  animation: slideup 0.4s forwards;
  z-index: 50;
}

.button-wiggle {
  animation: bouncing 0.4s forwards;
}

@keyframes slidedown {
  from {
    top: -250px;
  }
  to {
    top: 0;
  }
}

@keyframes slideup {
  from {
    top: 0;
  }
  to {
    top: -250px;
  }
}

@keyframes slideleft {
  from {
    left: 0;
  }
  to {
    left: -250px;
  }
}

@keyframes slideright {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}

.logo-slider {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #fff;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.logo-set {
  display: flex;
}

.logo-set img {
  height: 10rem;
  margin-right: 40px;
  flex-shrink: 0;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
