---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import ContactUsHeader from "../components/ContactUsHeader.astro";
import ContactUsForm from "../components/ContactUsForm.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const title = "Contact Us - My Astro Site";
const description = "Get in touch with us for any inquiries or support.";
---

<Layout title={title} description={description}>
  <main class="container mx-auto">
    <NavigationBar />
    <ContactUsHeader />
    <ContactUsForm />
    <Footer />
  </main>
</Layout>
