---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import ContactForm from "../components/ContactForm.astro";
import ServicesHeader from "../components/ServicesHeader.astro";
import ServicesList from "../components/ServicesList.astro";
import ServicesDetails from "../components/ServicesDetails.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const title = "Our Services - My Astro Site";
const description = "Explore the range of services we offer to our clients.";
---

<Layout title={title} description={description}>
  <main class="container mx-auto border">
    <NavigationBar />
    <ServicesHeader />
    <ServicesList />
    <ServicesDetails />
    <Projects />
    <ContactForm />
    <Footer />
  </main>
</Layout>
