<section
  id="what-sets-us-apart"
  class="h-auto border p-20 flex flex-col items-center justify-center text-center space-y-4"
>
  <h2 class="text-3xl md:text-7xl font-bold mb-4 uppercase">
    What Sets Us <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Apart</span
    >
  </h2>
  <p>
    At Camino Code, we combine data science and web development to create
    innovative, future-ready solutions. From predictive analytics to custom web
    applications, we help businesses thrive in the digital age.
  </p>
  <a
    href="#"
    class="px-6 py-3 bg-gradient-to-t from-amber-400 to-red-600 text-white rounded-full hover:scale-110 transition"
  >
    Get Started
    <span class="ml-2"><i class="fa-solid fa-arrow-down"></i></span>
  </a>
  <ul class="space-y-2 text-lg">
    <li><div>Innovation at the Core</div></li>
    <li><div>Client-Centric Approach</div></li>
    <li><div>Seamless Integration</div></li>
    <li><div>Scalable Solutions</div></li>
  </ul>
</section>
