<section
  id="partners"
  class="flex h-dvh flex-col items-center justify-center px-10 py-20 text-center text-sm sm:text-base md:text-lg lg:text-xl"
>
  <h2
    class="text-4xl font-bold text-gray-800 uppercase sm:text-5xl md:pb-12 md:text-[5rem] lg:text-[6rem]"
  >
    Our
    <span
      class="inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-transparent"
    >
      Partners
    </span>
  </h2>
  <div class="logo-slider">
    <div class="logo-track">
      <div class="logo-set ">
        <img src="https://picsum.photos/200" alt="Logo 1" />
        <img src="https://picsum.photos/200" alt="Logo 2" />
        <img src="https://picsum.photos/200" alt="Logo 3" />
        <img src="https://picsum.photos/200" alt="Logo 4" />
        <img src="https://picsum.photos/200" alt="Logo 5" />
      </div>
      <div class="logo-set">
        <img src="https://picsum.photos/200" alt="Logo 1" />
        <img src="https://picsum.photos/200" alt="Logo 2" />
        <img src="https://picsum.photos/200" alt="Logo 3" />
        <img src="https://picsum.photos/200" alt="Logo 4" />
        <img src="https://picsum.photos/200" alt="Logo 5" />
      </div>
      <div class="logo-set">
        <img src="https://picsum.photos/200" alt="Logo 1" />
        <img src="https://picsum.photos/200" alt="Logo 2" />
        <img src="https://picsum.photos/200" alt="Logo 3" />
        <img src="https://picsum.photos/200" alt="Logo 4" />
        <img src="https://picsum.photos/200" alt="Logo 5" />
      </div>
    </div>
  </div>
</section>
