---
import partner1 from "../assets/images/partner_1.png";
---

<section
  id="about"
  class="flex h-auto flex-col items-center justify-center gap-8 px-10 py-20 text-center text-black"
>
  <h1
    class="font-bold uppercase sm:text-5xl md:text-6xl lg:text-7xl xl:text-9xl"
  >
    Our
    <span
      class="inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-transparent"
      >Founder</span
    >
  </h1>
  <p class="max-w-4/5 text-sm sm:text-base md:text-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quos
    corrupti sit beatae fugiat in saepe, reiciendis iusto? Illo dolores quia
    veniam animi beatae iure doloribus officia. Libero consectetur, rem
    molestias natus repellat quos harum fugit deserunt unde fuga culpa
    repudiandae aut facere impedit adipisci, tempore error dicta sequi? Saepe.
  </p>
  <img src={partner1.src} alt="Logo 1" class="w-1/2 rounded-2xl"/>
</section>
