---
import imgBg from "../assets/images/about_background.png";
---

<section
  id="about"
  class="relative flex h-auto flex-col items-center justify-center gap-8 px-10 py-20 text-center md:h-[30rem]"
>
  <img
    src={imgBg.src}
    alt="Background"
    class="absolute inset-0 -z-10 h-full w-full object-cover blur-[0.5px] grayscale"
  />
  <h1
    class="font-bold text-white uppercase sm:text-5xl md:text-6xl lg:text-7xl xl:text-9xl"
  >
    <span
      class="inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-transparent"
      >About</span
    > Us
  </h1>
  <p class="max-w-xl text-sm text-white sm:text-base md:text-lg">
    At Camino Code, we specialize in delivering advanced data science and web
    development solutions. Our goal is to empower businesses with innovative,
    scalable, and intelligent platforms that drive growth and efficiency.
  </p>
</section>
