---
import imgBg from "../assets/images/casestudies_background.png";
---

<section
  id="case-studies"
  class="relative flex h-auto flex-col items-center justify-center gap-8 px-10 py-20 text-center text-white"
>
  <img
    src={imgBg.src}
    alt="Background"
    class="absolute inset-0 -z-10 h-full w-full object-cover blur-[0.5px] grayscale"
  />
  
    <h2
      class="text-4xl font-bold uppercase sm:text-5xl md:text-[5rem] lg:text-[6rem]"
    >
      <span
        class="inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-transparent"
        >Case</span
      > Studies
    </h2>
    <p class="max-w-2xl text-sm sm:text-base md:text-lg lg:text-xl">
      At <strong>Camino Code</strong>, we take pride in delivering high-quality,
      innovative solutions in <strong>data science</strong> and
      <strong>web development</strong>. Our portfolio showcases a range of
      successful projects, from <strong>custom web applications</strong>
      to <strong>data-driven platforms</strong> that enhance business efficiency
      and performance.
    </p>
</section>
