<section
  id="case-studies"
  class="text-center h-auto border flex flex-col items-center justify-center p-20"
>
  <h2 class="text-6xl md:text-9xl font-bold mb-4">Case Studies</h2>
  <p class="max-w-2xl text-gray-700">
    At <strong class="text-black">Camino Code</strong>, we take pride in
    delivering high-quality, innovative solutions in <strong class="text-black"
      >data science</strong
    > and
    <strong class="text-black">web development</strong>. Our portfolio showcases
    a range of successful projects, from <strong class="text-black"
      >custom web applications</strong
    >
    to <strong class="text-black">data-driven platforms</strong> that enhance business
    efficiency and performance.
  </p>
</section>
