---
import imgBg from "../assets/images/footer-bg.png";
import logo from "../assets/logo.svg";
---

<footer
  class="relative flex h-auto flex-col gap-10 px-4 py-20 text-center text-sm text-white sm:text-base md:px-10 md:text-lg"
>
  <img
    src={imgBg.src}
    alt="Background"
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
  <div class="flex flex-col items-center justify-center gap-10 px-4 sm:px-10">
    <img
      src={logo.src}
      alt=""
      class="h-20 w-40 rounded-md bg-black object-cover"
    />
    <ul
      class="flex flex-wrap justify-center gap-4 text-sm text-white sm:text-base md:text-lg"
    >
      <li><a href="/" class="hover:underline">Home</a></li>
      <li><a href="about" class="hover:underline">About Us</a></li>
      <li><a href="/case-studies" class="hover:underline">Works</a></li>
      <li><a href="/services" class="hover:underline">Services</a></li>
      <li><a href="/contact" class="hover:underline">Contact</a></li>
      <li><a href="#" class="hover:underline">Terms</a></li>
      <li><a href="#" class="hover:underline">Privacy</a></li>
    </ul>
  </div>
  <hr class="border-gray-700" />
  <div class="flex justify-center gap-4">
    <i
      class="fa-brands fa-instagram gradient-icon text-xl sm:text-2xl md:text-3xl"
    ></i>
    <i
      class="fa-brands fa-facebook gradient-icon text-xl sm:text-2xl md:text-3xl"
    ></i>
    <i
      class="fa-brands fa-twitter gradient-icon text-xl sm:text-2xl md:text-3xl"
    ></i>
  </div>
  <p class="text-xs sm:text-sm md:text-base">
    &copy; 2025 Camino Code. All Rights Reserved.
  </p>
</footer>
