<section
  id="home"
  class="h-auto border p-20 flex flex-col items-center justify-center text-center space-y-4"
>
  <h2 class="uppercase text-6xl md:text-9xl font-bold">
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Code</span
    > the Future
  </h2>
  <p class="max-w-2xl text-lg text-gray-700">
    At Camino Code, we combine data science and web development to create
    innovative, future-ready solutions. From predictive analytics to custom web
    applications, we help businesses thrive in the digital age.
  </p>
  <a
    href="#"
    class="px-6 py-3 bg-gradient-to-t from-amber-400 to-red-600 text-white rounded-full hover:scale-110 transition"
  >
    Get Started
    <span class="ml-2"><i class="fa-solid fa-arrow-down"></i></span>
  </a>
  <a
    class="px-6 py-3 bg-gradient-to-t from-amber-400 to-red-600 text-white rounded-full hover:scale-110 transition"
  >
    <i class="fa-solid fa-arrow-down"></i>
  </a>
</section>
