<section
  id="services"
  class="h-auto border p-20 flex flex-row items-start justify-around text-center bg-black"
>
  <div class="flex flex-col w-1/2 items-start text-left p-4 text-white">
    <h2 class="text-3xl md:text-7xl font-bold mb-4">
      Our <span
        class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
        >Services</span
      >
    </h2>
    <p>
      At Camino Code, we provide cutting-edge solutions in data science and web
      development to help businesses unlock new opportunities and drive growth.
    </p>
  </div>
  <div class="flex flex-col w-1/2 items-start text-left p-4 text-white">
    <div class="mb-4">
      <h3 class="text-xl font-semibold">Data Science</h3>
      <ul class="list-disc list-inside">
        <li>Predictive Analytics</li>
        <li>Machine Learning Models</li>
        <li>Big Data Solutions</li>
      </ul>
    </div>

    <div class="mb-4">
      <h3 class="text-xl font-semibold">Software Development</h3>
      <ul class="list-disc list-inside">
        <li>Custom Web Applications</li>
        <li>Scalable Architecture</li>
        <li>Performance Optimization</li>
      </ul>
    </div>

    <div class="mb-4">
      <h3 class="text-xl font-semibold">Automation Solutions</h3>
      <ul class="list-disc list-inside">
        <li>Natural Language Processing</li>
        <li>AI-Driven Insights</li>
      </ul>
    </div>

    <a
      href="#"
      class="px-6 py-3 bg-gradient-to-t from-amber-400 to-red-600 text-white rounded-full hover:scale-110 transition"
    >
      See All
      <span class="ml-2"><i class="fa-solid fa-arrow-right"></i></span>
    </a>
  </div>
</section>
