<div class="flex justify-between items-center p-4 bg-white">
  <header>
    <h1 class="text-2xl font-bold text-gray-800">Camino Code</h1>
  </header>

  <nav class="space-x-6 hidden md:flex md:justify-center md:items-center">
    <a href="/" class="text-gray-600 hover:text-gray-900">Home</a>
    <a href="/about" class="text-gray-600 hover:text-gray-900">About</a>
    <a href="/case studies" class="text-gray-600 hover:text-gray-900"
      >Our Work</a
    >
    <a href="/services" class="text-gray-600 hover:text-gray-900">Services</a>
    <a
      href="/contact"
      class="px-6 py-3 bg-gradient-to-t from-amber-400 to-red-600 text-white rounded-full hover:scale-110 transition"
    >
      Contact
      <span class="ml-2"><i class="fa-solid fa-arrow-down"></i></span>
    </a>
  </nav>

  <!-- Mobile Menu Button -->
  <button class="md:hidden block text-gray-600 focus:outline-none">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
</div>
