<header class="h-auto border flex flex-col items-start justify-end p-20 bg-black text-white">
  <h1 class="text-6xl md:text-9xl font-bold uppercase">
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Code.</span
    > Innovate. Elevate.
  </h1>
  <p class="mt-2 text-lg max-w-xl">
    Empowering businesses with advanced data science, web development, and AI
    integration.
  </p>
</header>
