<div
  class="flex w-full flex-col items-center justify-center bg-gray-900 py-20 md:px-0 text-center text-white"
>
  <section
    id="data-science"
    class="flex flex-col md:flex-row md:p-24 [&>*]:p-6"
  >
    <div class="gap-8 text-left md:flex md:w-2/3 md:flex-col md:items-start">
      <i
        class="fa-solid fa-layer-group gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-8xl text-transparent sm:text-3xl md:text-9xl"
      ></i>
      <h2 class="w-full text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
        Data Science
      </h2>
      <p>Data, Insights, Infrastructure & AI</p>
      <button class="btn rounded-full border-2 border-orange-400 p-4 uppercase"
        >Let's Talk</button
      >
    </div>

    <div
      class="flex w-full flex-col gap-6 text-left md:w-2/3 [&>div]:flex [&>div]:flex-col [&>div]:gap-4 [&>div]:rounded-xl [&>div]:bg-black [&>div]:p-10"
    >
      <div>
        <i
          class="fa-solid fa-clipboard gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Data Strategy and Consulting
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We look at your business problems, make your data systems better, and
          plan how to gather and use your data effectively. We make sure your
          data is safe and follows the rules. We also set up ways to measure
          success and manage your data. This helps you make smart decisions
          based on data and grow your business over time.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-cloud-arrow-up gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Data Engineering
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We build systems to collect, store, and manage data efficiently using
          cloud technology.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-chart-line gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Data Analysis & Visualization
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We uncover insights through data analysis and present them in
          easy-to-understand reports and charts.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-brain gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Machine Learning and AI
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We create AI solutions for automation, predictive analytics, fraud
          detection, and more.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-cloud gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Specific Industry Solutions
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We offer AI-driven solutions for healthcare, finance, retail,
          manufacturing, and other industries.
        </p>
      </div>
    </div>
  </section>

  <!-- Software Development Section -->
  <section
    id="software-development"
    class="flex flex-col bg-white text-black md:flex-row md:p-24 [&>*]:p-6"
  >
    <div class="gap-8 text-left md:flex md:w-2/3 md:flex-col md:items-start">
      <i
        class="fa-solid fa-laptop gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-8xl text-transparent sm:text-3xl md:text-9xl"
      ></i>
      <h2 class="w-full text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
        Software Development
      </h2>
      <p
        class="inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-transparent"
      >
        Data, Insights, Infrastructure & AI
      </p>
      <button class="btn rounded-full border-2 border-orange-400 p-4 uppercase"
        >Let's Talk</button
      >
    </div>

    <div
      class="flex w-full flex-col gap-6 text-left md:w-2/3 [&>div]:flex [&>div]:flex-col [&>div]:gap-4 [&>div]:rounded-xl [&>div]:bg-gray-200 [&>div]:p-10"
    >
      <div>
        <i
          class="fa-solid fa-bezier-curve gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Software Strategy & Solutions
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We plan and design scalable software solutions tailored to your
          business needs.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-paintbrush gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          UI/UX Design
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We create intuitive and visually appealing designs to enhance user
          experience.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-globe gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Website Development
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We build fast, secure, and SEO-friendly websites to strengthen your
          online presence.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-mobile-screen-button gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Mobile Development
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We develop cross-platform mobile apps using modern technologies like
          React Native and Flutter.
        </p>
      </div>
    </div>
  </section>

  <!-- Audit and SME Solutions -->
  <section id="audit" class="flex flex-col md:flex-row md:p-24 [&>*]:p-6">
    <div class="gap-8 text-left md:flex md:w-2/3 md:flex-col md:items-start">
      <i
        class="fa-solid fa-microchip gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-8xl text-transparent sm:text-3xl md:text-9xl"
      ></i>
      <h2 class="w-full text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
        Audit and Refined SME Solutions
      </h2>
      <p>Data, Insights, Infrastructure & AI</p>
      <button class="btn rounded-full border-2 border-orange-400 p-4 uppercase"
        >Let's Talk</button
      >
    </div>

    <div
      class="flex w-full flex-col gap-6 text-left md:w-2/3 [&>div]:flex [&>div]:flex-col [&>div]:gap-4 [&>div]:rounded-xl [&>div]:bg-black [&>div]:p-10"
    >
      <div>
        <i
          class="fa-solid fa-magnifying-glass-plus gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Analyze Existing Solutions
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We evaluate your business solutions to identify areas for improvement.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-file-circle-plus gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Improve Business Processes
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We optimize workflows to enhance efficiency and reduce costs.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-window-restore gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Customize for SME Needs
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We develop solutions tailored to the unique challenges of small and
          medium-sized businesses.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-chart-column gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Ensure Smooth Integration
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We integrate new solutions seamlessly into your existing systems with
          minimal disruptions.
        </p>
      </div>

      <div>
        <i
          class="fa-solid fa-headphones gradient-icon inline-block bg-gradient-to-r from-amber-400 to-red-600 bg-clip-text text-4xl text-transparent sm:text-3xl md:text-4xl"
        ></i>
        <h3 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl">
          Ongoing Support and Updates
        </h3>
        <p class="text-sm sm:text-base md:text-lg lg:text-xl">
          We provide continuous support to keep your solutions running smoothly.
        </p>
      </div>
    </div>
  </section>
</div>
