<section
  id="testimonials"
  class="text-center h-auto border flex flex-col items-center justify-center p-20 bg-black text-white"
>
  <h2 class="text-3xl md:text-7xl font-semibold mb-4">
    What Our <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Clients Say</span
    >
  </h2>
  <blockquote class="max-w-xl italic">
    <p class="mb-2">
      "Camino Code transformed our data strategy, giving us valuable insights
      that boosted efficiency and decision-making."
    </p>
    <cite class="not-italic font-medium">
      - Alex Johnson, CEO of TechWave
    </cite>
  </blockquote>
</section>
