<section
  id="partners"
  class="text-center h-auto flex flex-col items-center justify-center py-20 px-10 text-sm sm:text-base md:text-lg lg:text-xl"
>
  <h2
    class="font-bold text-gray-800 uppercase text-4xl sm:text-5xl md:text-[5rem] lg:text-[6rem] md:pb-12"
  >
    Our
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
    >
      Partners
    </span>
  </h2>
  <ul
    class="flex flex-wrap justify-center gap-6 text-gray-700 text-xs sm:text-sm md:text-base lg:text-lg [&>li>img]:border-2 [&>li>img]:border-solid [&>li>img]:bg-white [&>li>img]:shadow [&>li>img]:rounded-full [&>li>img]:size-24 sm:[&>li>img]:size-28 md:[&>li>img]:size-32"
  >
    <li>
      <img src="https://picsum.photos/200" alt="" />
    </li>
    <li>
      <img src="https://picsum.photos/200" alt="" />
    </li>
    <li>
      <img src="https://picsum.photos/200" alt="" />
    </li>
    <li>
      <img src="https://picsum.photos/200" alt="" />
    </li>
    <li>
      <img src="https://picsum.photos/200" alt="" />
    </li>
  </ul>
</section>
