<section
  id="home"
  class="h-auto flex flex-col items-center justify-center text-center py-20 px-8 md:px-10 gap-8 border-b-2 border-black text-sm sm:text-base md:text-lg lg:text-xl"
>
  <h1
    class="uppercase font-bold w-full md:max-w-3xl text-4xl sm:text-5xl md:text-[5rem] lg:text-[6rem]"
  >
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Code</span
    > the Future
  </h1>
  <p
    class="w-full md:max-w-3xl text-gray-700 text-xs sm:text-sm md:text-base lg:text-lg"
  >
    At Camino Code, we combine data science and web development to create
    innovative, future-ready solutions. From predictive analytics to custom web
    applications, we help businesses thrive in the digital age.
  </p>
  <a
    href="#"
    class="px-6 py-3 bg-gradient-to-t from-amber-400 to-red-600 text-white rounded-full hover:scale-110 transition text-xs sm:text-sm md:text-base lg:text-lg"
  >
    Get Started
    <span class="ml-2"><i class="fa-solid fa-arrow-down"></i></span>
  </a>
  <a
    class="px-6 py-3 bg-gradient-to-t from-amber-400 to-red-600 text-white rounded-full hover:scale-110 transition text-xs sm:text-sm md:text-base lg:text-lg"
  >
    <i class="fa-solid fa-arrow-down"></i>
  </a>
</section>
