<header
  class="h-auto flex flex-col items-start justify-end bg-black text-white py-20 px-10"
>
  <h1 class="font-bold uppercase">
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Code.</span
    > Innovate. Elevate.
  </h1>
  <p class="mt-2 max-w-xl">
    Empowering businesses with advanced data science, web development, and AI
    integration.
  </p>
</header>
