<section id="services" class="h-auto flex flex-col py-20 px-10">
  <h2 class="font-bold uppercase">Our Services</h2>

  <div
    class="flex flex-wrap justify-center gap-5 w-full [&>div]: [&>div]:size-[25rem] [&>div]:flex [&>div]:flex-col [&>div]:justify-center [&>div]:items-start [&>div]:p-4 [&>div]:rounded-lg [&>div]:bg-gray-100"
  >
    <div>
      <h3 class="font-bold">Data Science</h3>
      <p class="text-gray-600">Data, insights, infrastructure & AI</p>
    </div>

    <div>
      <h3 class="font-bold">Software Development</h3>
      <p class="text-gray-600">Web, app, prototypes & products</p>
    </div>

    <div>
      <h3 class="font-bold">Audit and Refine SME Solutions</h3>
      <p class="text-gray-600">Data, insights, infrastructure & AI</p>
    </div>
  </div>
</section>
