<section
  id="testimonials"
  class="text-center h-auto flex flex-col items-center justify-center bg-black text-white py-20 px-6 sm:px-8 md:px-10 gap-6 text-sm sm:text-base md:text-lg"
>
  <h2
    class="font-bold uppercase text-3xl sm:text-4xl md:text-[4rem] lg:text-[6rem] md:pb-12"
  >
    What Our
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Clients Say</span
    >
  </h2>

  <div>
    <div class="flex justify-center mb-4 text-base sm:text-lg md:text-xl">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>

    <div class="mt-4 space-y-1">
      <p class="text-base sm:text-lg md:text-xl font-semibold">Alex Johnson</p>
      <p
        class="text-sm sm:text-base italic bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >
        CEO of TechWave
      </p>
    </div>

    <p
      class="mt-4 text-sm sm:text-base md:text-lg lg:text-xl max-w-2xl mx-auto"
    >
      "Camino Code transformed our data strategy, giving us valuable insights
      that boosted efficiency and decision-making."
    </p>
  </div>
</section>
