<section
  id="work"
  class="h-auto flex flex-col items-center justify-center text-center py-20 px-6 sm:px-8 md:px-10 text-sm sm:text-base md:text-lg"
>
  <h2
    class="font-bold uppercase text-3xl sm:text-4xl md:text-[4rem] lg:text-[6rem] md:pb-12"
  >
    Our
    <span
      class="bg-gradient-to-r from-amber-400 to-red-600 inline-block text-transparent bg-clip-text"
      >Work</span
    >
  </h2>
  <p
    class="w-full md:max-w-2xl text-gray-700 text-xs sm:text-sm md:text-base lg:text-lg"
  >
    We take pride in delivering innovative and impactful solutions for our
    clients. Our work reflects our expertise in data science, web development,
    and AI integration, helping businesses achieve measurable success.
  </p>

  <div class="flex flex-wrap flex-col justify-center gap-6 max-w-4xl mt-10">
    <a
      href="/case study detailed"
      rel="noopener noreferrer"
      class="flex flex-col items-center transition w-full rounded-lg shadow-lg"
    >
      <img src="https://picsum.photos/200" alt="" class="w-full" />
      <span class="p-4 space-y-2 text-left">
        <span class="block font-medium text-base sm:text-lg md:text-xl"
          >Data-Driven Insights for TechWave</span
        >
        <span class="block text-xs sm:text-sm md:text-base text-gray-600">
          Developed a predictive analytics model that increased customer
          retention by 30%.
        </span>
      </span>
    </a>

    <a
      href="/case study detailed"
      rel="noopener noreferrer"
      class="flex flex-col items-center transition w-full rounded-lg shadow-lg"
    >
      <img src="https://picsum.photos/200" alt="" class="w-full" />
      <span class="p-4 space-y-2 text-left">
        <span class="block font-medium text-base sm:text-lg md:text-xl"
          >Data-Driven Insights for TechWave</span
        >
        <span class="block text-xs sm:text-sm md:text-base text-gray-600">
          Developed a predictive analytics model that increased customer
          retention by 30%.
        </span>
      </span>
    </a>
  </div>
</section>
