---
const { title = "Default Title", description = "Default description" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      src="https://kit.fontawesome.com/185833903f.js"
      crossorigin="anonymous"></script>
    <link href="../styles/output.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <slot />
    <!-- IONIC ICONS -->
    <!-- jQuery CDN (put this before </body> or in layout) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: auto;
  }
</style>
