---
const { title = "Default Title", description = "Default description" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      src="https://kit.fontawesome.com/185833903f.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="px-4 pb-4">
    <slot />
    <!-- IONIC ICONS -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
